/* css for icons*/
svg.Polaris-Icon__Svg{
    font-size: 2rem;
}

/*login page css*/
form[name=signin-form]{width:300px;}
form[name=signin-form] .Polaris-Icon{
    height: 4rem;
    width: 4rem;
    background-color: #5159b6;
    border-radius: 50px;
    padding: 8px;
    position: relative;
    top: 10px;
}
form[name=signin-form] .Polaris-Icon svg.Polaris-Icon__Svg{
    font-size: 3rem;
    color: #c7e5ff;
}
form[name=signin-form] .Polaris-DisplayText{
    text-align: center;
}
form[name=signin-form] button {
    width: 100%;
}
/*signup page css*/
form[name=signup-form]{width:300px;}
form[name=signup-form] .Polaris-Icon{
    height: 4rem;
    width: 4rem;
    background-color: #5159b6;
    border-radius: 50px;
    padding: 8px;
    position: relative;
    top: 10px;
}
form[name=signup-form] .Polaris-Icon svg.Polaris-Icon__Svg{
    font-size: 3rem;
    color: #c7e5ff;
}
form[name=signup-form] .Polaris-DisplayText{
    text-align: center;
}
form[name=signup-form] button {
    width: 100%;
}
/*reset password page css*/
form[name=resetpass-form] ul.Polaris-Navigation__Section {
    padding: 0;
}


/*dashboard*/
form[name=product-fetch-form] {
    /*width: 91%;*/
}
/* dashboard fetch product form*/
form[name=product-fetch-form] ul li {
    display: inline-block;
    margin-right: 10px;
}
.Polaris-MediaCard .image-holder{
    height: 100%;
    position: relative;
}
.Polaris-MediaCard .image-holder .product-price{
    position: absolute;
    top: 0;
    background-color: #3f4eae;
    color: #fff;
    padding: 5px 12px;
}

/*import product page*/

.import-item-image-holder {
    width: 250px;
    height: 325px;
    position: relative;
    border-radius: 2px;
}
.import-item-image-holder img{
    width: 100%;
    position: relative;
}

.item-seller-source p {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    margin-right: 5px;
}
.item-seller-source p span {
    font-size: 12px;
}
span.text-v-line {
    background-color:#bebebe;
    width: 1px;
    height: 20px;
    display: inline-block;
    margin: 0 5px -5px 5px;
}
.tags>span {
    margin: 5px;
}
p.item-operation {
    float: right;
}
p.item-operation .Polaris-Link {
    margin-right: 20px;
}
.v-item {
    display: inline-block;
    margin: 0 10px 0 0;
}
.v-item .image-holder {
    width: 55px;
    display: inline-block;
    margin-right: 5px;
}
.v-item .image-holder img {
    width: 100%;
}
.v-item .variation-props {
    display: inline-block;
}
.tags .Polaris-Tag {
    border-radius: 25px;
    padding: 0 2rem;
    background-color: transparent;
    border: 1px solid #a1a1a1;
}
.item-title p,.description p {
    font-weight: 500;
    font-size: 16px;
}
.item-title>span,.variations>span,.description>span{
    font-size: 12px;
}
.item-title, .variations, .description {
    margin-bottom: 10px;
}



.product-list-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    gap: 16px;
    padding: 0 0 24px 16px;
}
.product-list-items .product-item{
    background-color: #fff;
    box-shadow: 0 0 1px rgba(143,144,165,0.7), 0 0 10px rgba(143,144,165,0.2);
}
.product-item .image-holder img {
    width: 100%;
    height: 100%;
}
.product-item .item-bottom {
    padding: 10px 15px;
}
.item-bottom .item-title{
    color:#333;
    font-size: 18px;
}
.item-bottom .item-price{
    color:#333;
    font-size: 18px;
    font-weight: bold;
}
.item-bottom button{
    width: 100%;
    margin-top: 10px;
}

.variant-table{
    height: 310px;
    overflow:auto;
}
/*product title auto complete*/
.suggest-product-title {
    position: relative;
}
.auto-complete-box {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #f1f0f0;
    z-index:9999;
}
.auto-complete-box ul {
    padding: 0;
    margin: 0;
}
.auto-complete-box textarea{
    width: 100%;
    height: 250px;
}
.auto-complete-box ul li {
    display: block;
    width: 100%;
    padding: 5px 15px;
    margin: 0 0 1px 0;
    background-color: #f1f0f0;
}
.auto-complete-box ul li:hover{
    cursor: pointer;
    background-color: #dadada;
}
